//@include 

@mixin retinaBg($image) {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: $image;
  }
}


$laptop: 1600px;
$tablet: 1024px;
$tabletMedium:768px;
$mobile:480px;


:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: "Poppins", sans-serif;
  --font-weight: 400;
  --font-size: 18px;


  --page-bg: #fff;


  --text-color: #000;
  --accent-color: #ac182c;

}


